# Environments
.env
.env.*

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local Output/Temp Folders
output/
.tmp/

# OS specific files
.DS_Store
Thumbs.db

# Credentials & Scratch files
token.json
credentials.json
scratch/
server/static/output_screenshots/
server/static/output_thumbnails/
server/static/output_videos/
0
assets/*.mp4
